body {
    background-color: rgb(250, 194, 196);
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20.1px;
    font-style: italic;
    margin: 0;
    text-align: center;
    padding:0;
}


nav{
    background-color:#9f61d6;
    padding: 20px 0;
}

.about2{
    font-style: italic;
    margin-bottom: 30px;
    line-height: 1.6;
}

#nav ul{
    padding: 0;
    list-style: none;
    margin: 10px;
    display: flex;
    justify-content: center;
    gap: 40px;
    width: 100%;
}
#nav ul li{
    background-color: rgb(209, 158, 228);
    padding: 15px 20px;
    display: inline-block;
    margin: 0;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.5s ease;
}
#nav ul li:hover{
    background-color: rgb(73, 180, 209);
    padding: 15px 20px;
    display: inline-block;
    margin: 0;
}

#nav ul li a {
    color:#1f0437;
    font-weight: bold;
   
}
.about-contain{
    max-width: 600px;
    margin: 50px;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 5px 3px 20px rgba(0,0,0,0.50);
    background-color:rgb(248, 255, 253);
}
.about-contain p{
    line-height: 1.5;
    margin-bottom: 30px;
}
#footer{

    text-align: center;
    color: #08030d;;
    background-color: #9f61d6;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    clear: both;
    padding: 15px;
}

.about-image{
    position:fixed;
    bottom: 250px;
    right: 120px;
    width: 320px;
    height:fit-content;
    flex-shrink: 0;
    align-self: center;
    border-radius:20px;
    
}


#nav h2{
    color: white;
    margin: 10px;
    text-align: center;
    padding: 1px 0px;
    

}