body {
    background-color: rgb(151, 223, 233);
    font-family:Arial, Helvetica, sans-serif;
    font-style: italic;
    font-size: 20.1px;
    margin: 0;
    text-align: center;
    padding:0;
}


nav{
    text-align: center;
    background-color:#9f61d6;
    padding: 20px 0;
}


#nav ul{
    padding: 0;
    list-style: none;
    margin: 10px;
    display: flex;
    justify-content: center;
    gap: 40px;
    text-align: center;
    width: 100%;
}
#nav ul li{
    background-color: rgb(209, 158, 228);
    padding: 15px 20px;
    display: inline-block;
    margin: 0;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.5s ease;
}
#nav ul li:hover{
    background-color: rgb(73, 180, 209);
    padding: 15px 20px;
    display: inline-block;
    margin: 0;
}

#nav ul li a {
    color:#1f0437;
    font-weight: bold;
   
}

.main2{
    font-size: 28px;
    margin: 30px 0 15px 0;
}

.quote-btn{
    font-size: 18px;
    padding: 13px 25px;
    border-radius:10px;
    cursor: pointer;
    transition: background-color 0.4s ease;
    background-color: rgb(207, 234, 234);
}

.quote-btn:hover{
    background-color: #5577d6;
}
#footer{

    text-align: center;
    color: #08030d;;
    background-color: #9f61d6;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    clear: both;
    padding: 15px;
}

img {
    margin-top: 20px;
    width: 150px;
    height: auto;
    border-radius: 15px;
    align-content: center;
}

#nav h2{
    color: white;
    margin: 10px;
    text-align: center;
    padding: 1px 0px;
    

}




